* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: -webkit-gradient(
    linear,
    left center,
    right center,
    from(#008B9D),
    to(#00B2AE)
  );  
}

textarea {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* コメント入力スタイル */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 60px;
}

.allComment {
  text-align: center;
  width: fit-content;
  padding: 7px 7px 0px 7px;
  border-radius: 10px;
}

.student {
  margin-bottom: 7px;
  background-color: #006979;
  padding: 10px;
  border-radius: 5px;
}

.student_comment {
  display: block;
  padding: 5px;
  margin: 10px auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer button {
  margin-right: 10px;
  flex: 1;
}